.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* 
Rounded edges for images on Team page
http://stackoverflow.com/questions/25598728/irregular-bootstrap-column-wrapping 
*/
.portrait-div {
    height: 250px;
    padding: 40px 15px;
    text-align: center;
}

.portrait-div>img{
  border-radius: 10%;
}

.portrait-div>img:hover{
  opacity: 0.8;
}


/* Tooltips oh hover:
http://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -175px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* list of citations in the Papers page*/
.spaced-ul {list-style: none; padding-top: 15px;}

a.yellow {color: yellow;}
